body
{
    background-color: aliceblue;
    margin: auto;
    text-align: center;
}

input

{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}
#addTaskButton
{
    background-color: rgb(119, 225, 204);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}


ul
{
    list-style:  none;
    display: block;
    padding: 0;
   

}

li
{

    display:  flex;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(54, 209, 124);
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.4);

    transition: all 0.3s ease;
    
    
}
li:hover
{
    transform: translateY(-20px);
    transform: translateX(20px);
}
li span
{
    font-weight: bold;
    text-align: start;
}
 li button
 {
    margin-left: auto;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
 }